<style>

  html,body{
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 

  }

  .jumbotron{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;  
  }

  #main-content{
    position: absolute;
    width    : 100%;
    height   : 50%;
    margin-top : 5% ;

  }
</style>

<div class="header">
  <a id="header-row-link-left" href="/">InterviewPad</a>  
  <a id="header-row-link-right" href="/login">Login</a>
  <a id="header-row-link-right" href="/faq">FAQ</a>
  <a id="header-row-link-right" href="/about">How it works</a>
</div>


<div class="jumbotron text-center">
  <div id="main-content">
    <div class="row">
      <h1>InterviewPad</h1>
      <p style="font-size: 50px;">Practice coding interviews for free</p>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <!-- <div class="col-md-1">
        <button class="btn btn-default btn-block">Login</button>
      </div> -->
      <div class="col-md-2">
        <a href="/getstarted" class="btn btn-block btn-hg btn-embossed btn-info btn-wide">Get Started</a>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row">
      <img style="margin-top: 30px;" src="/images/homepage-main.png"/>
    </div>
  </div>
</div>
