<div class="header">
  <a id="header-row-link-left" href="/">InterviewPad</a>  
  <a id="header-row-link-right" href="/auth/logout">Logout</a>
  <a id="header-row-link-right" href="/faq">FAQ</a>
  <a id="header-row-link-right" href="/about">How it works</a>
</div>


