<style>

  .main-div {
  	padding-top: 5%;
  }
</style>

<div class="header">
  <a id="header-row-link-left" href="/">InterviewPad</a>	
  <a id="header-row-link-right" href="/login">Login</a>
  <a id="header-row-link-right" href="/faq">FAQ</a>
  <a id="header-row-link-right" href="/about">How it works</a>
</div>

<div class="row">
	<div class="col-md-3 col-md-offset-4 main-div">
		<h3 style="text-align: center; ">Welcome Back</h3>
		<form class="loginform" action="/auth/login">
			<input type="email" placeholder="Email" name="email" class="form-control" />
			<input type="password" placeholder="Password" name="password" class="form-control" />
			<input type="submit" class="btn btn-info btn-block btn-embossed"/>
		</form>
	</div>
</div>
